
body{
    background-color: rgb(220, 220, 179);
}
.line{
   
    height: 500px;
    width: 4px;
    background-color: black;
    position: absolute;
    right: 0;
   
}
div{
    display: inline;
}

.box{ 
   
    height:90px ;
   
    padding: 10px;
   width:240px ;
overflow: hidden;
background-color: blueviolet;
display: inline-block;
}
.cinter{ 
    
    overflow-y: scroll;
    font-weight: bold;
    display: block;
    height: 70px;

}
hr{
   height: 1px;
   background-color: black;
}